@import '~Styles/partials/all';

/* Common CSS for all components would go here */
.box {
    background-image: linear-gradient($light-gray, $med-gray);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid $light-gray;
    box-shadow: 0 5px 10px #000;
    height: 100%;
    width: 100%;
    @include corners;
}
